@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("./Fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: "Montserrat-ExtraLight";
    background-image: linear-gradient(to top right, rgba(107, 233, 178, 0.9), rgb(48, 215, 215, 0.9));
    /* background-color: green; */


}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.heading-underline{
    background-color: black;
    height: 1px;
    width: 20%;
    transition: width 1.4s ease;    
}
.heading-underline-post-animation{
    width: 95% !important;
}

.meetings-section{
    height: 80vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    box-shadow: -15px 15px 15px 11px rgba(0, 0, 0, 0.13);
}

.meetings-container{
    width: 100%;
    height: 80%;
}

.individual-meeting{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20%;
}
.meeting-header{
    font-weight: bold;
}
.meeting-header-underline{
    background-color: black;
    height: 1px;
    width: 100%;
}

.meeting-detail{
    /* Not sure if this should be a flex-container or not.
        They all just contain text. But I want it aligned veritcally... */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 15%;
    overflow: hidden;
    text-align: center;
    font-size: 1.4em;
}

.county{

}
.day{

}
.time{

}
.address{
    width: 40%;
}