*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px red;
}

@font-face {
    font-family: "PlayFair";
    src: url("./Playfair_Display/static/PlayfairDisplay-SemiBold.ttf");
}
@font-face {
    font-family: Satisfy-Regular;
    src: url("./Fonts/Satisfy/Satisfy-Regular.ttf");
}

@font-face {
    font-family: "Italiana-Regular";
    src: url("./Fonts/Italiana/Italiana-Regular.ttf");
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(236, 255, 255); */
}


nav{
    /* width: 100%; */
    background-color: blue;
}

nav > ul{
    display: flex;
    list-style: none;
    background-color: yellow;
}








.container {
    width: 100%;
    max-width: 2000px;
}

#banner-container{
    height: 80vh;
    display: flex;
    position: relative;
}

#hero-text{
    display: flex;
    flex-direction:column;
    justify-content: center;
    z-index: 1;
    flex: 1;
    opacity: 0.8;
    /* background-image: linear-gradient(to top right, rgba(107, 233, 178, 1), rgb(48, 215, 215, 1), transparent); */
    background-image: linear-gradient(to top right, rgba(107, 233, 178, 1), rgb(48, 215, 215, 1), transparent, transparent);
}

#hero-heading{
    font-family:"Satisfy-Regular";
    font-weight:50;
    padding-left: 35px; padding-right: 35px;
    width: 100%;
    font-size: 10.9rem;
    color: rgb(255, 255, 255);
    align-items: center;
}
#hero-heading > div:nth-child(2){
    margin-top: -70px;
    padding-left: 35px;
}

/* This is just a horizontal line that we might animate later */

/* #hero-hr{
    height: 2px;
    width: 55%;
    margin-left: 20px;
    margin-top: -50px;
    background-color: white;
} */

#hero-quote{
    opacity: 1;
    font-family: "Satisfy-Regular";
    font-size: 2.5rem;
    color: white;
    padding: 20px;
}
#quote-author{
    padding-left: 40px;
}

#hero-image-container{
    overflow: hidden;
    background-image: url("third-support.jpg");
    /* background-image: url("support-unsplash.jpg"); */
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}









/* Here down is the content of the page after the banner. */
#content-container{
    background-color: rgb(236, 253, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#info-container{
    font-family:"Italiana-Regular";
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-container h2{
    color: rgb(107, 197, 137);
    font-weight: lighter;
    font-size: 3rem;
    width: 80%;
}

.info-paragraph{
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
}



#group-categories-container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.group-category{
    background-color: aquamarine;
    width: 20%;
    height: 20vh;

    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.9em;
    color: rgb(9, 120, 100);
    text-align: center;

    border-radius: 7px;

    cursor: pointer;
    transition: transform 0.5s;
}

.group-category:hover{
    border: solid 1.6px rgb(0, 121, 93);
    transform: scale(1.12);
}


.group-category span{
    display: inline-block;
    transition: transform 0.7s;
}
.group-category:hover span{
    transform: scale(1.10)
}

